<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649883880658-0mkesefb1keti0qg47a6p1qkoicfk9h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649883880658-0mkesefb1keti0qg47a6p1qkoicfk9h7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>649883880658-b5lnvhhh4p8p49r4ote5etkhr3u339rm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD18CanlCsCHbPw31f-yrQQoD562igokBc</string>
	<key>GCM_SENDER_ID</key>
	<string>649883880658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mlife.chessen</string>
	<key>PROJECT_ID</key>
	<string>mlife-chess</string>
	<key>STORAGE_BUCKET</key>
	<string>mlife-chess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649883880658:ios:4539196acba5d4b7</string>
	<key>DATABASE_URL</key>
	<string>https://mlife-chess.firebaseio.com</string>
</dict>
</plist>